<div id="main">
  <%= image_tag "http://our-undivided-attention.s3.amazonaws.com/still_frame_mini.jpg",
    alt: "Video still frame with play button", id: "still-frame" %>

  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <section id="new-album">
          <h1 class="title">The New Album</h1>
          <%= image_tag "http://our-undivided-attention.s3.amazonaws.com/album_title_mini.png",
            alt: "Our Undivided Attention" %>
          <p>Available Now</p>
          <%= image_tag "http://our-undivided-attention.s3.amazonaws.com/album_cover_mini.jpg",
            alt: "Album cover art" %>
          <%= link_to "http://bit.ly/2j1SRfW", class: "button" do %>
            Pre-Order <%= fa_icon("chevron-right") %>
          <% end %>
        </section>

        <%= image_tag "http://our-undivided-attention.s3.amazonaws.com/stars_mini.png",
          alt: "Three stars", id: "stars" %>

        <section id="tour">
          <h1 class="title">Tour Dates</h1>
          <div id="tour-dates"></div>
        </section>
      </div>
    </div>
  </div>
</div>

<div id="video-overlay">
  <%= fa_icon("times") %>
  <div id="video-player"></div>
</div>

<script src="https://player.vimeo.com/api/player.js"></script>
<script type="text/javascript">
  var video_id = 179668570;
  var video_player = new Vimeo.Player("video-player", {
    id: video_id,
    byline: false,
    color: "0197BA",
    portrait: false,
    title: false
  });

  $("img#still-frame").click(function() {
    $("div#video-overlay").fadeIn(100, function() {
      $("body").css("overflow-y", "hidden");
      video_player.play();
    });
  });

  function closeVideo() {
    $("div#video-overlay").fadeOut(100, function() {
      $("body").css("overflow-y", "auto");
      video_player.loadVideo(video_id);
    });
  }

  video_player.on("ended", closeVideo);
  $("div#video-overlay").click(closeVideo);

  var script = document.createElement("script");
  script.type = "text/javascript";
  script.src = "http://widget.bandsintown.com/javascripts/bit_widget.js";
  script.id = "bit-js";
  script.onload = function() {
    new BIT.Widget({
      artist: "Benchmarks",
      text_color: "#DDDDDD",
      link_color: "#AE4077",
      separator_color: "#DDDDDD",
      notify_me: false,
      share_links: false,
      div_id: "tour-dates"
    }).insert_events();
  }
  document.getElementsByTagName("head")[0].appendChild(script);
</script>