<!DOCTYPE html>
<html>
<head>
  <title>Benchmarks</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= render "layouts/open_graph_meta_tags" %>
  <%= csrf_meta_tags %>
  <%#= favicon_link_tag "favicon.png" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  <% if Rails.env.production? %>
    <%= render "layouts/google_analytics" %>
  <% end %>
</head>
<body>
  <%= render "layouts/facebook_js" %>
  <%= render "layouts/flash" %>

  <header>
    <div class="container">
      <%= link_to root_path, id: "logo" do %>
        <%= image_tag asset_path("logo_mini.png") %>
      <% end %>

      <nav>
        <%= link_to "Shows", "javascript:void(0)" %>
        <%= link_to "Songs", "javascript:void(0)" %>
        <%= link_to "Store", "http://benchmarks.bandcamp.com" %>
      </nav>
    </div>
  </header>

  <%= yield %>

  <footer>
    &copy; <%= Time.now.year %> Benchmarks
    <%= fa_icon("star") %>
    <%= mail_to "hello@benchmarksmusic.com" %>
  </footer>
</body>
</html>