<!DOCTYPE html>
<html>
<head>
  <title>Benchmarks</title>
  <meta name="description" content="The official Benchmarks website. New album OUR UNDIVIDED ATTENTION available March 24, 2017." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= render "layouts/open_graph_meta_tags" %>
  <%= csrf_meta_tags %>
  <%#= favicon_link_tag "favicon.png" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  <% if Rails.env.production? %>
    <%= render "layouts/google_analytics" %>
  <% end %>
</head>
<body>
  <%= render "layouts/facebook_js" %>
  <%= render "layouts/flash" %>

  <header>
    <div class="container">
      <%= link_to root_path, id: "logo" do %>
        <%= image_tag "http://our-undivided-attention.s3.amazonaws.com/logo_mini.png" %>
      <% end %>

      <nav>
        <%= link_to "Tour", "#tour" %>
        <%= link_to "Store", "http://benchmarks.bandcamp.com" %>
        <%= link_to fa_icon("facebook"), "https://www.facebook.com/benchmarksmusic", target: "_blank" %>
        <%= link_to fa_icon("twitter"), "https://twitter.com/benchmarksmusic", target: "_blank" %>
        <%= link_to fa_icon("instagram"), "https://www.instagram.com/benchmarksmusic", target: "_blank" %>
        <%= link_to fa_icon("spotify"), "https://open.spotify.com/artist/6NdHwt2sLPmAWR8FNSDfJC", target: "_blank" %>
      </nav>
    </div>
  </header>

  <%= yield %>

  <footer>
    <div class="container">
      &copy; <%= Time.now.year %> Benchmarks
    </div>
  </footer>
</body>
</html>

<script type="text/javascript">
  $("a[href='#tour']").click(function(event) {
    event.preventDefault();

    $("html, body").animate({
      scrollTop: $("div#tour").offset().top
    }, 500);
  });
</script>